@use '../../styles/variables' as *;

.request-details-editor {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
  width: 60%;

  .mui-hzcega-MuiTabs-list {
    justify-content: center;
  }

  .mui-1usuzwp-MuiButtonBase-root-MuiTab-root {
    color: var(--text-bnt-default);

    &:hover {
      color: var(--text-bnt-light);
    }
  }

  .mui-1usuzwp-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: var(--text-bnt-default);
  }
}
