@use '../../styles/variables.scss' as *;

.headers-editor {
  display: flex;
  gap: $spacing-sm;

  .headers-editor__inputs-wrapper {
    display: flex;
    gap: $spacing-sm;
    width: 100%;

    .input {
      width: 90%;
    }
  }

  .headers-editor__button {
    width: 145px;
    min-width: fit-content;
    text-wrap: nowrap;
  }
}
