@use '../../styles/variables.module.scss' as *;

.analytics-data {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
  padding-top: $spacing-lg;

  .analytics-table {
    border-collapse: collapse;
    th {
      padding: 0 10px;
    }
    td {
      border: 1px solid #494848;
      text-align: center;
      max-width: 400px;
      padding: 0 10px;
      word-break: break-word;
      white-space: normal;
    }
  }

  .button-link {
    background: none;
    border: none;
    cursor: pointer;
    border-bottom: 1px solid black;

    .button-link-method {
      color: $success-main;
      font-weight: bold;
      padding-right: $spacing-sm;
    }
  }
}
