@use './variables' as *;
@use './normalize';
@use './globals';

.button {
  height: 100%;
  background-color: var(--bg-btn-default) !important;
  color: var(--text-bnt-default) !important;

  &:hover {
    background-color: var(--bg-btn-light) !important;
  }
}

.input {
  height: 40px;
}
