$spacer: 1rem;
$padding-base: 1.5rem;

$header-height: 70px;
$footer-height: 70px;

$background-main: #f0f4ff;
$background-footer: #232946;
$shadow-main: #b8c1ec;
$border-footer: #eebbc3;
$text-footer: #fffffe;

$primary-main: #ff6a3d;
$primary-light: #ffb86b;
$primary-dark: #d7263d;
$primary-contrastText: #232946;

$secondary-main: #3f72af;
$secondary-light: #dbe2ef;
$secondary-dark: #112d4e;
$secondary-contrastText: #fffffe;

$translucent: rgba(63, 114, 175, 0.3);

$text-google: #1a1a2e;
$background-google: #f9f7f7;

$error-main: #d7263d;
$warning-main: #ffd166;
$info-main: #118ab2;

$success-main: rgba(42, 157, 143, 0.57);
$success-light: #caffbf;

$background-default: #ffffff;
$background-paper: #f1faee;

$text-primary: #232946;
$text-secondary: #393e46;
$text-disabled: #bdbdbd;

$font-family-message: 'Arial', serif;
