@use '../../styles/variables' as *;

.editor {
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: $spacing-lg;

  .request-editor {
    display: flex;
    height: 40px;
    justify-content: center;
    border: 1px solid gray;
    border-radius: $border-radius-input;
    width: 100%;
  }

  .request-details-editor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: $spacing-lg;
  }
}
