@use '../../styles/variables' as *;

.request-editor__item-select {
  min-width: 120px;
  .select-field {
    height: 100%;
    border: none;
    width: 100%;
    text-align: center;

    &.MuiOutlinedInput-notchedOutline {
      border: 'none';
    }
    &:hover .MuiOutlinedInput-notchedOutline {
      border: 'none';
    }
    &.Mui-focused .MuiOutlinedInput-notchedOutline {
      border: 'none';
    }
  }
}

.request-editor__item-input {
  width: 100%;
  .input-field {
    height: 100%;
    width: 100%;
    padding-left: $spacing-xs;
  }

  .mui-1cmet5c-MuiInputBase-root-MuiInput-root::after {
    border-bottom: 1px solid #1976d2;
  }
}
