@use '../../styles/variables.scss' as *;

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-card-shadow);
  padding: 12px;
  border: 1px solid var(--ava-border);
  border-radius: 4px;
  gap: 4px;
}

.input {
  width: 100%;
  padding: 6px 8px;
  border: 1px solid var(--ava-border);
  border-radius: 4px;
  font-size: 16px;
  color: var(--text-color-accent);

  background-color: var(--bg-input);
  box-shadow: inset 2px 2px 1px 1px var(--shadow-input);
  &.error {
    border-color: red;
  }
  &:focus {
    background-color: var(--bg-input-focus);
    outline: none;
  }
}
.content {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-direction: column;
}
.header-item {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
