@use '../../styles/variables.scss' as *;

.wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  background-color: var(--bg-card);
  box-shadow: 3px 3px 4px var(--bg-card-shadow);
  border-radius: 4px;
  gap: 4px;
}
.input {
  font-size: 18px;
  width: 100%;
  padding: 6px 6px;
  border: 1px solid var(--ava-border);
  border-radius: 4px;
  color: var(--text-color-accent);

  background-color: var(--bg-input);
  box-shadow: inset 2px 2px 1px 1px var(--shadow-input);
  &.error {
    border-color: red;
  }
  &:focus {
    background-color: var(--bg-input-focus);
    outline: none;
  }
}
.content {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
}
.header-item {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.empty-header {
  background-color: var(--bg-card-shadow-inactive);

  &::before {
    content: 'Please fill in all header fields or delete unnecessary ones';
    position: absolute;
    top: 12px;
    right: 12px;
    color: var(--text-error);
  }
}
