@use '../../styles/variables' as *;

.body-editor {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $spacing-lg;

  .text-field {
    width: 50%;
    background-color: white;
  }
}
