@use '../../styles/variables.scss' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 12px;
  background-color: var(--bg-card);
  box-shadow: 3px 3px 4px var(--bg-card-shadow);
  border-radius: 4px;
  gap: 4px;
}

.input {
  width: 100%;
  padding: 12px 12px;
  border: 1px solid var(--ava-border);
  border-radius: 4px;
  font-size: 18px;
  color: var(--text-color-accent);

  background-color: var(--bg-input);
  box-shadow: inset 2px 2px 1px 1px var(--shadow-input);

  &:focus {
    background-color: var(--bg-input-focus);
    outline: none;
  }
}
.select-field {
  background-color: var(--bg-input);
}
